/* google fonts */
@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,400i,700,700i,900,900i");
body {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  color: #5C5C5C;
  margin: 0 auto;
  padding: 0;
  font-size: 18px;
  font-weight: 300; }

.container-fluid {
  background-image: url("../images/Pepper-Potts-elektra-bkgd.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0 auto; }

h1, h2, h3, h4, h5, p {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  text-align: left;
  line-height: 2rem; }

h1 {
  font-size: 3rem;
  color: #FFFFFF;
  font-weight: 700; }

h2 {
  padding: 0 3rem;
  font-size: 2.25rem;
  color: #FFFFFF;
  margin: 1rem 0; }

h3 {
  font-size: 1.5rem;
  color: #F62E26; }

h2, h3, p, textarea {
  font-weight: 300; }

h3, p {
  line-height: 1.5rem; }

p, .form-control {
  font-size: 1rem;
  color: #5C5C5C; }

p, textarea.form-control {
  line-height: 2.2rem; }

.form-control {
  border-radius: 0;
  border-color: #5C5C5C;
  border-right: 0; }

textarea.form-control {
  border-right: 1px solid #5C5C5C; }

a, a:link, a:hover, a:visited {
  color: #F62E26;
  text-decoration: none; }

footer {
  margin-top: 1rem;
  background-color: #000000;
  padding: 1rem;
  font-weight: 700; }

footer > p {
  color: #FFFFFF;
  padding: .5rem 2.5rem;
  font-size: 1rem;
  line-height: 2rem; }

.float-right {
  color: #F62E26; }

/* Nav area */
.navbar {
  padding: 1rem;
  margin: 0;
  margin-bottom: 2rem; }

.bg-light {
  background-color: #FFFFFF; }

.navbar-brand, a.navbar-brand {
  color: #F62E26 !important; }

.mr-sm-2 {
  margin-right: 0 !important; }

.user-style {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 1rem; }

/* Buttons save delete make notes edit */
.btn-primary {
  background-color: #FFFFFF;
  border-color: #F62E26;
  border-radius: 0; }

.btn-primary.disabled, .btn-primary:disabled, .btn-primary:hover, .btn-primary:not(:disabled):not(.disabled):active {
  color: #FFFFFF;
  background-color: #F62E26;
  border-color: #F62E26; }

.btn-outline-success, .btn-outline-success:visited {
  color: #F62E26;
  background-color: #FFFFFF;
  border: 1px solid #F62E26;
  border-radius: 0; }

.btn-outline-success:hover, .btn-outline-success:active, .btn-outline-success:not(:disabled):not(.disabled):active {
  background-color: #F62E26;
  border-color: #F62E26; }

.input-width {
  width: 50% !important;
  padding: .5rem 3rem 5rem 3rem; }

.card-padding {
  padding: 3rem;
  padding-top: 0; }

.card {
  border-radius: 0; }

.card-title {
  margin-bottom: 0; }

.card-margin {
  margin-bottom: .5rem; }

.card-body {
  padding: 1.5rem; }

.card-uppercase {
  text-transform: uppercase; }

.text-muted {
  font-weight: 300; }

.card-footer {
  background-color: #FFFFFF;
  border-top: 1px solid rgba(92, 92, 92, 0.3); }

.notes {
  background-color: #FFFFFF;
  color: #000000;
  border: 1px solid #5C5C5C; }

a.notes {
  color: #5C5C5C; }

a:hover.notes {
  background-color: #5C5C5C;
  color: #FFFFFF;
  border: 1px solid #FFFFFF; }

.no-user {
  color: #F62E26; }

#login, #log-out {
  color: #F62E26; }

.is-hidden {
  display: none; }

a.nav-link {
  text-decoration-style: none; }

.card-fav {
  height: 500px; }

/*# sourceMappingURL=main.css.map */
