/* google fonts */
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,400i,700,700i,900,900i');

$white: #FFFFFF;
$marvel-red: #F62E26; 
$black: #000000;
$gray: #5C5C5C;
$font-regular: 400; 
$font-bold: 700;
$font-thin: 300;
$font-stack: 'Lato', Helvetica, Arial, sans-serif;


body {
    font-family: $font-stack;
    color: $gray;
    margin:  0 auto;
    padding: 0;
    font-size: 18px;
    font-weight: $font-thin;
  }
.container-fluid {
    background-image: url("../images/Pepper-Potts-elektra-bkgd.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0 auto;
}
h1, h2, h3, h4, h5, p {
    font-family: $font-stack;
    text-align: left;
    line-height: 2rem;
}
h1 {
    font-size: 3rem;
    color: $white;
    font-weight: $font-bold;
}
h2 {
    // padding: 0 3rem;
    font-size: 2.25rem;
    color: $white;
    margin-bottom: 1.5rem;
}
h3 {
    font-size: 1.5rem;
    color: $marvel-red;
}
h2, h3, p, textarea {
    font-weight: $font-thin;
}
h3, p {
    line-height: 1.5rem;
}
p, .form-control {
    font-size: 1rem;
    color: $gray;
}
p, textarea.form-control {
    line-height: 2.2rem;
}
.form-control {
    border-radius: 0;
    border-color: $gray;
    border-right: 0;
}
textarea.form-control {
    border-right: 1px solid $gray;
}
a, a:link, a:hover, a:visited {
    color: $marvel-red;
    text-decoration: none;
}
footer {
    margin-top: 1rem;
    background-color: $black;
    padding: 1rem;
    font-weight: $font-bold;
}
footer > p {
    color: $white;
    padding: .5rem 2.5rem;
    font-size: 1rem;
    line-height: 2rem;

}
.float-right {
    color: $marvel-red;
}

/* Nav area */
.navbar{
    padding: 1rem;
    margin: 0;
    margin-bottom: 2rem;
}
.bg-light {
    background-color: $white;
}
.navbar-brand, a.navbar-brand {
    color: $marvel-red !important;
}
.mr-sm-2 {
    margin-right: 0!important;
}
.user-style {
    font-family: $font-stack;
    text-transform: uppercase;
    font-size: 1rem;
}
/* Buttons save delete make notes edit */
.btn-primary {
    background-color: $white;
    border-color: $marvel-red;
    border-radius: 0;
}
.btn-primary.disabled, .btn-primary:disabled, .btn-primary:hover, .btn-primary:not(:disabled):not(.disabled):active {
    color: $white;
    background-color: $marvel-red;
    border-color: $marvel-red;
}
.btn-outline-success, .btn-outline-success:visited  {
    color: $marvel-red;
    background-color: $white;
    border: 1px solid $marvel-red;
    border-radius: 0;
}
.btn-outline-success:hover, .btn-outline-success:active, .btn-outline-success:not(:disabled):not(.disabled):active  {
    background-color: $marvel-red;
    border-color: $marvel-red;
}
.btn-link:hover {
    color: $marvel-red;
    text-decoration: underline;
}
.btn-link {
    color: $marvel-red;
}
.btn-link.focus, .btn-link:focus {
    text-decoration: none;
}
.input-width {
    width: 50% !important;
    padding: .5rem 3rem 5rem 3rem;
}
.card-padding {
    padding: 3rem;
    padding-top: 0;
}
.card-deck {
    margin-bottom: 3rem;
}
.card {
    border-radius: 0;
    margin: 0 2rem 2rem 0;
}
h3.card-title {
    margin-bottom: 0;
    color: $marvel-red;
    font-weight: $font-thin;
    text-decoration-style: none;
}
.card-margin {
    margin-bottom: .5rem;
}
.card-body {
    padding: 1.5rem;
}
.card-uppercase {
    text-transform: uppercase;
}
.card-resize {
    width: 70%;
}
.text-muted {
    font-weight: $font-thin;
}
.card-footer {
    background-color: $white;
    border-top: 1px solid rgba(92, 92, 92, 0.3);
}
.notes {
    background-color: $white;
    color: $black;
    border: 1px solid $gray;
}
a.notes {
    color: $gray;
}
a:hover.notes {
    background-color: $gray;
    color: $white;
    border: 1px solid $white;
}
.no-user {
    color: $marvel-red;
}

#login, #log-out {
    color: $marvel-red;   
}
.is-hidden {
    display: none;
}
a.nav-link {
    text-decoration-style: none;
}
.card-fav {
    height: 500px;
}
.card-header {
    padding: .75rem .25rem;
}